<div class="md-toolbar-tools" id="header-toolbar">
  <!--layout="row" layout-align="space-between center" layout-align-gt-md="end">-->

<!--    <md-button tabindex="-1" hide-gt-md ng-click="toggleSidenav()" aria-label="Show Menu">
        <md-icon md-font-icon="fa fa-bars"></md-icon>
    </md-button>
    -->
    <!-- LOGO/BRAND -->
    <div class="wodore-logo">
        <a ui-sref="home" tabindex="-1">
            <img src="/p/modules/core/img/logo.png" 
                   alt="{{ cfg.brand_name }} logo" height="70">
            </img>
        </a>
    </div>

    <span flex></span>
    <div  class="md-toolbar-tools" ui-view="header"></div>
<!--
    <!- SEARCH  ->
    <div  ng-include="'/p/modules/core/layout/search_menu.client.view.html'"></div>
    <span flex=""></span>

    <!- COLLECTION ->
-->
    <div  hide show ng-if="auth.isLogged()"
            ng-include="'/p/modules/core/layout/collection_menu.client.view.html'"></div>
    <!-- USER AVATAR -->
    <md-button hide show ng-if="auth.isLogged()" ui-sref="profile.view({username : auth.user.username})"
       layout="row" layout-align="end center" class="md-icon-button"
       flex="none">
       <!--<span class="mar-rig-10">{{auth.user.username}}</span>-->
        <img ng-if="auth.user" class="profile-pic" 
              ng-src="{{auth.user.avatar_url}}&s=50"/>
    </md-button>

    <!-- MENU -->
    <div  hide show ng-if="auth.isLogged()"
            ng-include="'/p/modules/core/layout/menu.client.view.html'"></div>

    <!-- LOGIN/SIGN UP -->
    <div hide show ng-if="!auth.isLogged()">
            <md-button ui-sref="signin">
                <i class="fa fa-sign-in btn-icon"></i>
                Sign In
            </md-button>
            <md-button ui-sref="signup">
                <i class="fa fa-sign-in btn-icon"></i>
                Sign Up
            </md-button>
      </div>
</div>
