<div ng-controller="TopMenuController">
<md-menu md-offset="0 65" md-position-mode="target-right target">
    <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <md-icon md-svg-icon="navigation:more_vert"></md-icon>
      </md-button>
    <md-menu-content width="4">
        <!--<md-menu-item>
            <md-button ng-click=""> 
                <md-icon md-font-icon="fa fa-close"></md-icon>
                Close
            </md-button>
        </md-menu-item>-->
        <md-menu-item ng-if="auth.isAdmin()">
            <md-button ng-click="" ui-sref="admin.appConfig">
                <md-icon md-font-icon="fa fa-gear"></md-icon>
                App Config
            </md-button>
        </md-menu-item>
            <md-menu-divider ng-if="auth.isAdmin()"></md-menu-divider>
        <md-menu-item ng-show="auth.isLogged()">
            <md-button ng-click="" ui-sref="profile.view({username: auth.user.username})">
                <md-icon md-font-icon="fa fa-user"></md-icon>
                My Profile
            </md-button>
        </md-menu-item>
        <md-menu-item ng-hide="auth.isLogged()">
            <md-button ng-click="" ui-sref="signin">
                <md-icon md-font-icon="fa fa-sign"></md-icon>
                Sign In
            </md-button>
        </md-menu-item>
        <md-menu-item ng-hide="auth.isLogged()">
            <md-button ng-click="" ui-sref="signup">
                <md-icon md-font-icon="fa fa-sign"></md-icon>
                Sign Up
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="" ui-sref="users">
                <md-icon md-font-icon="fa fa-users"></md-icon>
                Users
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="auth.isAdmin()">
            <md-button ng-click="" ui-sref="collections">
                <md-icon md-font-icon="fa fa-cubes"></md-icon>
                Groups
            </md-button>
        </md-menu-item>
        <md-menu-item ng-show="cfg.has_feedback_form">
            <md-button ng-click="" ui-sref="feedback">
                <md-icon md-font-icon="fa fa-comment"></md-icon>
                Feedback
            </md-button>
        </md-menu-item>
        <md-menu-item ng-show="cfg.development">
            <md-button  ng-click="generateDatabase()">
                <md-icon md-font-icon="fa fa-database"></md-icon>
                Generate Database
            </md-button>
        </md-menu-item>
        <md-menu-item ng-show="auth.isLogged()">
            <md-button ng-click="" ui-sref="signout" class="md-warn">
                <md-icon md-font-icon="fa fa-sign-out"></md-icon>
                Sign Out
            </md-button>
        </md-menu-item>
        <!--<md-menu-item ng-if="auth.isAdmin()">
            <md-button ng-click="editConfig()">
                <md-icon md-font-icon="fa fa-users"></md-icon>
                Config Pop-up
            </md-button>
        </md-menu-item>-->
    </md-menu-content>
</md-menu>
</div>
