<div  class="md-toolbar-tools hpad-0" ng-controller="MapHeaderController as ctrl"  >

    <!--<md-input-container class="">-->
        <md-button class="md-icon-button" aria-label="search"
            ng-click="toggleSearchInput()" flex="none" >
            <md-icon md-svg-icon="{{searchIcon}}" ></md-icon>
        </md-button>
        <div class="md-toolbar-tools hpad-0" ng-show="search" >
        <md-input-container class="md-accent"  md-theme="input" flex="90">
          <label>Search</label>
          <input id="search-input" ng-model="search_text" >
        </md-input-container>
        </div>
        <!--</md-input-container>-->

    <div class="md-toolbar-tools hpad-0" ng-hide="search"  class="collection-menu" flex>
        <form ng-submit="$event.preventDefault()" layout="row">
            <md-button class="md-fab md-mini" aria-label="Add Collection">
                <i class="fa fa-plus btn-icon"></i>
            </md-button>
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Pick an Angular repository"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
              <!-- <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>-->
            <img ng-src="{{item.avatar}}" class="md-avatar" alt="{{item.name}}" style="width:30px;" />
            <strong> {{item.name}} </strong>
          </span>
          <br>
          <span class="item-metadata">
            <span class="item-metastat">
              <span>{{item.description}}</span> watchers
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>

    </div>
<div>

