<ga-content name='{{totalCount}} Users' navbar-id='toolbar-top'>
<!--<div layout="row" class="w-100" layout-align="center start">-->
<!--<md-content flex flex-gt-lg="70" class="md-whiteframe-z1 no-overflow-x">-->

        <!--<md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Users
                <span class="mar-lef-5" ng-show="totalCount">({{totalCount}})</span></h1>
            </md-toolbar>-->
        <md-list>
        <md-virtual-repeat-container style="
            height: 444px;
            width: 400px; "
            >
          <md-list-item md-virtual-repeat="user in Users" md-on-demand
              class="md-3-line" ui-sref="profile.view({username: user.username})"  ng-click="null"
                >
                <!--class="user-list-item"-->


          <img ng-src="{{user.avatar_url}}" class="md-avatar" alt="{{user.username}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ user.username }}</h3>
            <h4>{{ user.name }}</h4>
            <p>{{ user.bio }}</p>
          </div>
<!--
                <md-divider ng-if="$first"></md-divider>
                <md-item-content>
                    <a ui-sref="profile.view({username: user.username})"
                       class="md-tile-left hpad-15 vpad-15 no-dec">
                        <img class="profile-pic" ng-src="{{user.avatar_url}}&s=45" alt="{{user.username}}"/>
                    </a>

                    <a ui-sref="profile.view({username: user.username})"
                       class="md-tile-content no-dec">
                        <h3>{{user.username}}</h3>
                        <h4>{{user.name}}</h4>
                        <p>
                            {{user.bio}}
                        </p>
                    </a>

                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>-->
            </md-list-item>
            <md-progress-linear ng-show="isLoading"
                                md-mode="indeterminate" class="pad-bot-10"></md-progress-linear>
                
        </md-virtual-repeat-container>
        </md-list>
        <!--</md-content>-->
    <!--</div>-->
</ga-content>
