<!DOCTYPE html>
<html class="ng-cloak" lang="en">
<head>
    # include 'bit/meta.html'
    <title>{{ config.CONFIG_DB.brand_name }}</title>
    # include 'bit/style.html'
    # block head
    # endblock
    # include 'bit/analytics.html'
</head>

<body layout="row" layout-fill >

<div layout="column" role="main" flex layout-fill>

    <md-toolbar id="toolbar-top" class="md-whiteframe-5dp">
        <div class="md-toolbar-tools" ng-controller="HeaderController" ng-include="'/p/modules/core/layout/header-default.client.view.html'"></div>
    </md-toolbar>

    <div layout-fill flex id="content-wrapper">
        <div  layout-fill class="content-view" ui-view="content"> </div>
        <div  layout-fill ui-view="main"> </div>
    </div>
          

</div>
# include 'bit/script.html'
# block scripts
# endblock
<script type="text/javascript">
    var module = angular.module('wodore-ng');
    module.value('gaAuthenticatedUser', {{ user | tojson | safe }});
    module.value('gaAppConfig', {{ app_config | tojson | safe }});
    module.value('gaFlashMessages', {{ get_flashed_messages() | tojson | safe }});
    module.value('gaValidators', {{ validators | tojson | safe }});
</script>
</body>
</html>
